.input {
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: #777;
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: #0d0c22;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    margin-top: 2vh;
    margin-bottom: 1vh;
    margin-left: 150vh;
    width: 200px;
   } 
   
   .input:focus, input:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #7a9cc6;
   }
   
    .input::placeholder {
    color: #777;
   }

   .input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
   }


   .button {

    color: #2e6cae;
    font-family: inherit;
    display: inline-block;
    width: 6em;
    height: 1.8em;
    line-height: 0.5em;
    margin: 5px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    
   }

   
   .button:before {
    content: "";
    position: absolute;
    z-index: -1;
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }
   
   .button:hover {
    color: #fff;
   }
   
   .button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   .button:hover:before {
    top: -30px;
    left: -30px;
   }
   
   /* .button:active:before {
    background: #3a0ca3;
    transition: background 0s;
   } */