nav {
  display: flex;
  justify-content: center;
}

.paginado {
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 10px;
  padding: 0;
  display: flex;
  column-gap: 2px;
  height: 20px;
  font-weight: 400;
  font-size: 15px;
  border-radius: 10px;
  transition: all 0.4s ease;
  background: transparent;
  color: black;
  border: none;
  height: fit-content;
}

